on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello world action step
        uses: bhoefling-c2c/guile-helloworld-action@6b46282a840be99703a612af2622e0b07b99f09a
        id: hello
      - name: Just Echo
        id: echo
        run: echo "Just echoing something."
      - name: Print Greeting
        id: printgreeting
        run: echo "The greeting was: ${{ steps.hello.outputs.fullgreeting }}"
